.main {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 10px;
}


.main__from {
   display: flex;
   align-items: center;
   justify-content: space-between;
}



.main__speechlyCard{
    width: 100%;
}

