.list__header {
    padding: 1rem 0 0.5rem 0;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__balancePos {
    color: green;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__balanceNeg {
    color: red;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__headerTitle {
    padding-left: 1rem;
}