.list {
  width: 300px;
  border: 2px solid whitesmoke;
  box-shadow: 0px 0px 10px whitesmoke;
  border-radius: 10px;
}

.list__header {
  padding: 1rem 0 0.5rem 0;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__balancePos {
  color: green;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list__balanceNeg {
  color: red;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list__headerTitle {
  padding-left: 1rem;
}

.list__balance {
  display: flex;
}

@media screen and (min-width: 1376px) {
  #balance {
    display: none;
  }
}

@media screen and (max-width: 1376px) {
  .list {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 568px) {
  #balance {
    display: none;
  }
}
