.from {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 
}

.from__group {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

