.speechlyCard {
    height: 7rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.speechlyCard__cardHeader { 
    height: 5rem;
    width: 15rem;

}

.speechlyCard__buttonMobile {
    display: none;
}


.speechlyCard__textContainer {
    display: flex;
    text-align: center;
}

.speechlyCard__button {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 16rem;
}

.speechlyCard__trySaying {
    color: gray;
    font-style: italic;
    text-align: center;
    width: 75%;

}

.speechlyCard__voiceText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 0.05rem ;
    text-align: center;
    font-family: 'Comic Neue', cursive;

}

button span .MuiSvgIcon-root {
    height: 3rem !important;
    width: 3rem !important;
}

@media screen and (max-width: 768px) {
    .speechlyCard {
        height: 100%;
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .speechlyCard__button {
        order: 2;
    }
    .speechlyCard__voiceText {
        width: 100%;;
        font-size: 1rem;
        order: 3;
    }
}

@media screen and (max-width: 557px) {
    .speechlyCard {
        height: 11rem;
        margin: 0;
        justify-content: center;
    }
    .speechlyCard__cardHeader { 
        height: 5rem;
        width: 95%;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .speechlyCard__buttonMobile {
        display: block;
    }
    .speechlyCard__buttonDesktop {
        display: none;
    }

    .speechlyCard__trySaying {
        width: 100%;
    
    }

    
}


    