#root, body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: white;
}

.MuiListItemText-secondary {
    color: gray !important;
}

div .ZpnAN  {
    position: static !important;
    
}

div .sc-eCApnc {
    height: 50% !important;
    width: 50% !important;
    
}

::-webkit-scrollbar {
    display: none;
  }

.form__button button span svg {
    color: gray;
}
.list__button button span svg {
    color: gray;
    opacity: 0.1;
}



.form__button button span svg:hover {
    color: green;
    size: 100%;
 
}

.list__button button span svg:hover {
    color: red;
    size: 100%;
    opacity: 0.8;
}


